---
import Layout2 from "../layouts/Layout2.astro";
---

<Layout2 title="votre message est envoyé">
  <main
    class="h-full min-h-screen w-full flex flex-col items-center justify-center px-4 text-center"
  >
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold">
      Merci pour votre message !
    </h1>
    <p>Je vous recontacte dans les plus brefs délais</p>
  </main>
</Layout2>
