---
import Layout from "../layouts/Layout2.astro";
import HeroMinimaliste from "../components/HeroMinimaliste.astro";
---

<Layout
  title="Nicolas Seine, développeur web dans les corbières et l'Aude"
  description="Je suis développeur web freelance et propose la création de site internet en Occitanie et dans toute la France. Si vous recherchez un développeur fullstack pour réaliser un site web performant, personnalisé et éco-responsale, contactez-moi"
>
  <main class="">
    <HeroMinimaliste />
  </main>
</Layout>
