---
import Layout from "../layouts/Layout2.astro";
import HeroMinimaliste from "../components/HeroMinimaliste.astro";
---

<Layout title="Nicolas Seine, développeur web dans les corbières et l'Aude">
  <main class="">
    <HeroMinimaliste />
  </main>
</Layout>
