---
import Layout from "../layouts/Layout2.astro";
import HeroMinimaliste from "../components/HeroMinimaliste.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <HeroMinimaliste />
  </main>
</Layout>
