---
const { theme = "dark" } = Astro.props;
console.log("theme", theme);
---

<div
  class:list={[
    " bg-neutral-800 rounded-sm w-12 hover:w-14 transition-all duration-75 flex-row justify-center items-start",
    { "hidden ": theme === "light" },
  ]}
>
  <a
    id="contact-button"
    class="w-full py-8 px-3 -rotate-180 text-sm font-semibold text-start text-white cursor-pointer [writing-mode:vertical-lr]"
  >
    contactez-moi
  </a>
</div>

<div
  class:list={[
    "group bg-neutral-800 h-full w-3/4 pt-10 pl-20 flex flex-col justify-center gap-20 transition-all duration-7000",
    { "bg-transparent mt-24 w-full pl-6": theme === "light" },
  ]}
>
  <form
    id="contact-form"
    class:list={[
      "opacity-0 w-11/12 lg:w-3/4 transition-all duration-1000 text-neutral-50",
      { "opacity-100 text-neutral-800": theme === "light" },
    ]}
  >
    <h1 class="text-xl font-bold pb-2">Un projet ? Une question ?</h1>
    <h2 class="text-base font-light">
      Envoyez-moi un message via le formulaire, <br />
      je vous répondrai au plus vite
    </h2>

    <div class="relative z-0 w-11/12 lg:w-2/3 mt-6 mb-6 group">
      <input
        type="text"
        name="nom"
        id="nom"
        class:list={[
          "peer block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b border-neutral-500 appearance-none focus:outline-none focus:ring-0 focus:border-neutral-600 peer",
          {
            "text-neutral-950": theme === "light",
          },
          {
            "text-white": theme === "dark",
          },
        ]}
        placeholder=" "
        required
      />
      <label
        for="nom"
        class:list={[
          "peer-focus:font-medium absolute text-sm  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6",
          {
            "text-neutral-600, peer-focus:text-neutral-950": theme === "light",
          },
          {
            "text-neutral-200, peer-focus:text-white": theme === "dark",
          },
        ]}
        >Quel est votre nom ?
      </label>
    </div>

    <div class="relative z-0 w-11/12 lg:w-2/3 mb-6 group">
      <input
        type="email"
        name="email"
        id="email"
        class:list={[
          "peer block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b border-neutral-500 appearance-none focus:outline-none focus:ring-0 focus:border-neutral-600 peer",
          {
            "text-neutral-950": theme === "light",
          },
          {
            "text-white": theme === "dark",
          },
        ]}
        placeholder=" "
        required
      />
      <label
        for="email"
        class:list={[
          "peer-focus:font-medium absolute text-sm  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6",
          {
            "text-neutral-600, peer-focus:text-neutral-950": theme === "light",
          },
          {
            "text-neutral-200, peer-focus:text-white": theme === "dark",
          },
        ]}>Et votre adresse email ?</label
      >
    </div>

    <div class="relative z-0 w-11/12 lg:w-2/3 mb-12 group">
      <input
        type="tel"
        name="tel"
        id="tel"
        class:list={[
          "peer block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b border-neutral-500 appearance-none focus:outline-none focus:ring-0 focus:border-neutral-600 peer",
          {
            "text-neutral-950": theme === "light",
          },
          {
            "text-white": theme === "dark",
          },
        ]}
        placeholder=" "
      />
      <label
        for="tel"
        class:list={[
          "peer-focus:font-medium absolute text-sm  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6",
          {
            "text-neutral-600, peer-focus:text-neutral-950": theme === "light",
          },
          {
            "text-neutral-200, peer-focus:text-white": theme === "dark",
          },
        ]}
        >Un numéro de téléphone ? <span class="text-xs hidden lg:inline"
          >(facultatif)
        </span></label
      >
    </div>

    <div class="relative z-0 w-11/12 mb-6 group">
      <label
        for="message"
        class:list={[
          "text-sm text-neutral-200",
          { "text-neutral-600": theme === "light" },
        ]}>Enfin, écrivez ici votre message :</label
      >
      <textarea
        rows="9"
        name="message"
        id="message"
        class:list={[
          "mt-2 pt-2 px-2 w-full h-auto text-sm focus:outline-none focus:ring-0 focus:border-neutral-600 ",
          {
            "text-neutral-950, bg-transparent border border-neutral-300":
              theme === "light",
          },
          {
            "text-black bg-neutral-300 border-0 ": theme === "dark",
          },
        ]}
        placeholder=""
        required></textarea>
    </div>

    <button
      type="submit"
      class:list={[
        "text-neutral-950 ml-auto bg-neutral-300 hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800",
        {
          "text-white bg-neutral-800 hover:bg-neutral-950 hover:text-neutral-200":
            theme === "light",
        },
      ]}>Envoyer</button
    >
  </form>
</div>
