---
const { title, text, icon = null } = Astro.props;
---

<li class="w-full">
  <h3 class="font-semibold text-green-500 text-lg md:text-xl mb-2">
    {title}
  </h3>
  <p class="font-light text-sm md:text-base">
    {text}
  </p>
</li>
