---
import Section from "./Section.astro";
---

<Section class="  text-neutral-950 dark:text-neutral-100 bg-orange-300 dark:bg-neutral-700 ">
    <h1 class="text-3xl sm:text-4xl md:text-6xl lg:text-7xl font-bold mt-24">Bonjour,<br/>je suis Nicolas Seine</h1>
    <p class="whitespace-normal sm:whitespace-pre-line mt-4 font-light text-base sm:text-lg md:text-3xl leading-tight lg:text-4xl w-full">et je développe des sites internet cousus main, 
        en tapant des lignes de code avec mes petits doigts
    </p>

    <div class="my-8 flex flex-col md:flex-row gap-4 lg:gap-8">
        <button class = "w-full md:max-w-sm text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl px-8 py-4  font-semibold bg-black  border-black border-2 text-neutral-100 dark:text-black dark:border-neutral-100 dark:bg-neutral-100  hover:bg-yellow-300 hover:border-yellow-300 hover:text-neutral-950 transition-colors">Me contacter sans plus attendre</button>
        <button class = "w-full md:max-w-sm text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl px-8 py-4  font-semibold border-black border-2 text-black dark:text-neutral-100 dark:border-neutral-100 hover:bg-yellow-300 hover:border-yellow-300 hover:text-neutral-950 transition-colors">En savoir plus, d'abord</button>

    </div>

</Section>