---
import { slide } from "astro:transitions";
---

<!-- Global flex container for whole page -->
<main class="w-full -mt-16 md:mt-0 h-full flex items-center justify-center">
  <!-- Central div: name and job + hovering elements -->
  <div id="bloc-central" class="relative mx-auto flex flex-col items-center">
    <h1
      class="text-neutral-800 text-4xl md:text-5xl lg:text-5xl xl:text-7xl font-thin uppercase pt-20 pb-1 lg:pb-2 md:pt-0 mt-auto"
    >
      Nicolas Seine
    </h1>

    <h2
      class="relative text-neutral-800 text-md md:text-lg lg:text-xl xl:text-2xl font-semibold uppercase text-center mb-auto px-8 md:px-52"
    >
      Développeur de
      <span>
        <a
          id="link-sites"
          class="peer relative z-40 underline decoration-1 underline-offset-4 decoration-neutral-400 cursor-pointer mr-1"
          >sites web,
        </a>
        <div
          id="text-sites"
          class="h-32 w-screen mt-32 opacity-0 peer-hover:opacity-90 transition-opacity duration-500 fixed left-0 text-sm lg:text-base"
        >
          <p class="font-bold uppercase">Voir mes réalisations</p>
          <p class="font-light">
            Quelques exemples de sites et applications web que j'ai développés
          </p>
        </div>
      </span>
      <br class="hidden md:block" />
      <span>
        <a
          href="demarche"
          id="link-main"
          class="underline peer decoration-1 underline-offset-4 decoration-neutral-400 cursor-pointer"
          >personnalisés et performants
        </a>

        <div
          id="text-sites"
          class="h-32 w-screen mt-32 -translate-y-7 opacity-0 peer-hover:opacity-90 transition-opacity duration-500 fixed left-0 text-sm lg:text-base"
        >
          <p class="font-bold uppercase">Comprendre ma démarche</p>
          <p class="font-light">
            Des sites web codés ligne par ligne ... mais pourquoi est-ce mieux ?
          </p>
        </div>
      </span>
    </h2>
  </div>

  <!-- Container for links description     -->
</main>

<script></script>
