---
---

<section class="w-screen h-screen flex items-center justify-center bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-100 to-gray-400 via-slate-200">
    
    <div id="bloc-central" class="relative mx-auto">
    
        
        <h1 class="text-neutral-800 text-3xl md:text-4xl lg:text-5xl font-thin uppercase pt-20 pb-2 md:pt-0 mt-auto">
            Nicolas Seine
        </h1>
        
        <h2 class="relative text-neutral-800 text-md md:text-lg lg:text-xl font-semibold uppercase pb-4 text-center mb-auto">
            Développeur de 
            <span id="link-sites" class="underline decoration-1  underline-offset-4 decoration-neutral-400 cursor-pointer">sites web</span>
                
            <svg class="absolute md:block  text-neutral-900"
            viewBox="61 199.7 346 83.3">
                <path id="stroke-sites" d="M 405 201 L 270 201 L 230 283 L 40 283" stroke="currentColor" stroke-width="1px"  style="fill: none; vector-effect: non-scaling-stroke; stroke-linecap: square"></path>
            </svg>
            
           
            
            <span  class="block relative">
                <span id="link-main" class="underline decoration-1  underline-offset-4 decoration-neutral-400 cursor-pointer">faits main</span>
                    
                    <svg class="absolute  md:block w-80 h-auto top-6 right-1/3 text-neutral-900"
                    viewBox="61 199.7 346 83.3">
                      <path id="stroke-main" d="M 405 201 L 270 201 L 230 283 L 40 283" stroke="currentColor" stroke-width="1px"  style="fill: none; vector-effect: non-scaling-stroke; stroke-linecap: square"></path>
                    </svg>

            </span>
        </h2>
    
        <div id="text-1" class="h-8 w-1/2 absolute right-64 -bottom-24 text-sm opacity-0 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est asperiores cum saep</p>
        </div>
    </div>
   
    <div  class="absolute group -right-16">
        
     
        <div class="absolute translate-x-full opacity-50 group-hover:opacity-10 group-hover:-translate-x-full transition-all duration-1000 right-14 bottom-[100px] w-screen h-px bg-neutral-950"></div>
        <div class="absolute translate-x-full opacity-50 group-hover:opacity-10 group-hover:-translate-x-full transition-all duration-1000 right-14 top-[100px] w-screen h-px bg-neutral-950"></div>
        
        <div id="contact-button" class=" bg-neutral-950 w-40 h-10 -rotate-90 pt-2 px-2 text-sm font-bold text-white text-center cursor-pointer">
            CONTACT
        </div>

    </div>
   


</section>

<script>
    function animateLink(link, stroke, text= new HTMLElement) {
        link.addEventListener('mouseenter', e => {
            stroke.classList.add("move","opacity-60")
            text.classList.add('opacity-100', "transition-opacity", "duration-500", "delay-300")
            setTimeout( ()=>link.classList.remove('underline'), 200)
            &&  setTimeout(() => {
                text.classList.remove("transition-opacity", "duration-500", "delay-300")

            }, 500);
        })


        link.addEventListener('mouseleave', e => {
            stroke.classList.remove("move","opacity-60")
            text.classList.remove('opacity-100')
            link.classList.add('underline')


        })
    }


    const link1 = document.getElementById('link-sites')
    const stroke1 = document.getElementById('stroke-sites')
    const text1= document.getElementById('text-1')
    animateLink(link1, stroke1, text1)

    const link2 = document.getElementById('link-main')
    const stroke2 = document.getElementById('stroke-main')
    animateLink(link2, stroke2, text1)

    
</script>

<style>
    .move {
    animation: dash 0.8s linear forwards;
    }

    @keyframes dash {
    to {
        stroke-dashoffset: 0;
        }
    }   

</style>