---
const {class : classnames} = Astro.props
---

<section class={`flex justify-center mx-auto w-full py-16 md:py-28 lg:py-40 ${classnames}`}>
    <div class="w-10/12">
        <slot/>
    </div>
</section>