---
import Section from "./Section.astro";
---

<Section class=" text-neutral-950 dark:text-neutral-100 bg-neutral-50 dark:bg-marron">
    <!-- Premier bloc horizontal Texte + menu -->
    <div class="w-full pt-10 flex flex-col gap-8 lg:gap-0 content-between lg:flex-row">
        <div class="lg:w-1/2 mr-auto >
            <h2 class="mb-4">
                Pourquoi coder un site web à la main alors qu'il existe des outils simples comme Wordpress?
            </h2>
            <p>
                Contrôle total sur le design et la fonctionnalité : En développant un site web à la main, vous avez un contrôle absolu sur chaque aspect du site, du design au code source. Cela signifie que vous pouvez créer une expérience utilisateur entièrement personnalisée et répondre aux besoins spécifiques de votre projet sans être limité par les fonctionnalités préétablies d'un CMS comme WordPress.
            </p>
        </div>

        <div class='h-44 lg:w-2/5 bg-slate-700'></div>
    </div>
</Section>
