---
interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Je suis développeur web freelance et propose la création de site internet en Occitanie et dans toute la France. Si vous recherchez un développeur fullstack pour réaliser un site web performant, personnalisé et éco-responsale, contactez-moi",
} = Astro.props;
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import "../style/base.css";
import Navbar from "../components/Navbar.astro";
import ContactForm from "../components/ContactWidget.astro";
import AnalyticsScript from "../components/AnalyticsScript.astro";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta name="author" content="Nicolas Seine" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta
      name="keywords"
      content="Création de site internet, développeur web Occitanie, développeur fullstack"
    />
    <SEO
      title={title}
      description={description}
      charset="utf-8"
      canonical={Astro.url}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="overflow-x-hidden font-sans bg-neutral-900 flex justify-center">
    <AnalyticsScript />
    <div
      id="content-container"
      class="relative w-screen h-full min-h-screen flex justify-center bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-100 to-gray-400 via-slate-200"
    >
      <Navbar />
      <ContactForm />
      <slot />
    </div>
  </body>
</html>
