<div
  class="absolute group w-full lg:w-12 lg:h-full px-4 py-4 lg:py-0 left-0 top-0 transition-all duration-75 lg:border-r border-neutral-950"
>
  <nav
    class="relative lg:fixed lg:top-0 lg:left-0 lg:rotate-180 bg-transparent h-full w-full lg:w-12 text-sm md:text-base font-light text-neutral-700 text-center cursor-pointer lg:[writing-mode:vertical-lr] flex flex-wrap items-center justify-center gap-4 lg:gap-16"
  >
    <a
      class="w-fit hover:text-neutral-950 hover:font-normal text-neutral-700"
      href="/">accueil</a
    >
    <a
      class="w-fit hover:text-neutral-950 hover:font-normal text-neutral-700"
      href="demarche">ma démarche</a
    >
    <a class="w-fit hover:text-neutral-950 hover:font-normal text-neutral-700"
      >mes réalisations</a
    >
    <a
      class="w-fit hover:text-neutral-950 hover:font-normal text-neutral-50 bg-neutral-800 px-4 py-2 rounded-md md:hidden"
      href="contact">contact</a
    >
  </nav>
</div>
