---
import ProjectsList from "../components/ProjectsList.astro";
import Layout2 from "./Layout2.astro";
const { title } = Astro.props;
---

<Layout2 title={title}>
  <main
    class="flex flex-col xl:flex-row gap-12 lg:gap-24 w-full pt-32 px-4 md:px-16"
  >
    <ProjectsList />
    <article class="w-full xl:w-3/5 flex flex-col pl-4 md:pl-8 lg:pl-16 my-0">
      <slot />
    </article>
  </main>
</Layout2>
