---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ProjetLayout from "../../layouts/ProjetLayout.astro";
export const getStaticPaths = (async () => {
  const projets = await getCollection("projet");

  return projets.map((projet) => ({
    params: { slug: projet.slug },
    props: { projet },
  }));
}) satisfies GetStaticPaths;

const { projet } = Astro.props;
const { Content } = await projet.render();
---

<ProjetLayout title={projet.data.titre}>
  <h1>{projet.data.titre}</h1>

  <Content />
</ProjetLayout>
